@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'air' }}";
@import "minimal-mistakes";

html {
	font-size: 14px;

	@include breakpoint($medium) {
		font-size: 14px;
	}

	@include breakpoint($large) {
		font-size: 14px;
	}

	@include breakpoint($x-large) {
		font-size: 14px;
	}
}

